body {
    background: rgb(1, 1, 58);
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #3D3D6D;
  }

  ::selection {
    color: #01013a;
    background: #f5f7b7;
  }

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #f5f7b7;
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #f5f7b7;
}

#dream-input {
    width: 15%;
    margin-left: 39%;
    background-color: #01013a;
    color: #f5f7b7;
    font-family:'Courier New', Courier, monospace;
    border-bottom: 2px solid #f5f7b7;
    border-radius: 4px;
}

input::placeholder{
    color: #f5f7b7;
    font-family: 'Courier New', Courier, monospace;
  }

#dream-go {
    border: solid #f5f7b7;
    background-color: #01013a;
    color: #f5f7b7;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

#conceptualised-text {
    font-style: italic;
}

#dream-stage {
    font-size: 50px;
}

#created-dream {
    font-size: 45px;
    background: rgba(172, 172, 204, 0.35);
    width: 40%;
    margin-left: 30%;
    border-radius: 25px;
}

#dream-meaning-container {
    background: rgba(172, 172, 204, 0.35);
    width: 50%;
    margin-left: 24%;
    padding-left: 1%;
    padding-right: 1%;
}

#dream-meaning {
    font-style: italic;
}

#secret-concepts {
    display: none;
}

.fade-icons {
    animation: fade 3s;
}

.fade-text {
    animation: fade 6.5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}